body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    background: rgba(11, 10, 10, 0.88);

    h2 {
        margin-block-end: 0.2em;
        margin-block-start: 1em;
    }

    a {
        padding: 0.8%;
        color: #6495ED;
        text-decoration: none;
        transition: color 0.3s ease;
        cursor: pointer;
        position: relative;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        display: inline-block;
    }

    a:hover {
        color: #F5F5F5;
        transition: color 0.3s ease;
    }

    .error-message-container {
        width: 100%;
        position: relative;
        background: #333333;
        color: #F5F5F5;
    }

    .error_message {
        color: #cc0033;
        display: none;
        font-size: 20px;
    }

    .nav-bar {
        background: rgba(13, 12, 12, 0.02);
        color: #F5F5F5;
        border-bottom: rgb(255, 255, 255) solid 2px;
        padding: 10px;
        position: relative;
        height: 8.3vh;
        align-content: center;

        .nav-item {
            display: inline-block;
            padding: 20px;
            margin-left: 1.25em;
            margin-right: 1.25em;
            color: #F5F5F5;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
        }

        .nav-bar__title {
            font-size: 1.5em;
            font-weight: bold;
        }

        .nav-bar__links {
            display: inline-block;
            justify-content: space-between;
            align-items: flex-end;
            width: 5%;
            margin-left: 50px;

            a:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background: #6495ED;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.3s ease-in-out;
            }

            a:hover::after {
                transform: scaleX(1);
            }
        }
    }

    .wrapper {

        width: 100%;
        height: 100%;
        position: relative;

        #content {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 90vh;
            max-width: 65%;
            padding-left: 1.25rem;
            padding-right: 1.25rem;


            .side-column {
                flex: 1;
                filter: blur(8px);
                height: fit-content;
                margin: 20px;
            }

            #mainContent {
                flex: auto;
                height: 100%;
                position: relative;
                overflow: auto;
                background: #333333;
                padding-left: 1.25em;
                padding-right: 1.25em;
                border-left: aliceblue solid 2px;
                border-right: aliceblue solid 2px;
                .title {
                    position: relative;
                    height: 100px;
                    text-align: center;
                    color: #F5F5F5;
                    font-size: 2em;
                }

                button[type="submit"],
                button[type="button"] {
                    max-width: fit-content;
                    min-width: 150px;
                    height: 50px;
                    border: none;
                    outline: none;
                    background: #6495ED;
                    color: #F5F5F5;
                    font-size: 20px;
                    border-radius: 40px;
                    text-align: center;
                    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                }


                .subtitle {
                    position: relative;
                    font-size: 1.5em;
                    font-weight: bold;
                    margin-bottom: 10px;
                    color: #F5F5F5;
                    text-align: center;
                }

                ol {
                    padding: 0;
                    margin: 0;
                }

                li {
                    list-style-type: none;
                    padding: 10px;
                    border-bottom: 1px solid #F5F5F5;
                }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin: 0;
                }

                .not-found-message {
                    color: #F5F5F5;
                    font-size: 2em;
                    text-align: center;
                    margin-top: 50px;
                }

                .form__group {
                    position: relative;
                    margin-top: 10px;
                    width: 50%;
                    padding: 15px 0 0 25%;
                }

                .search-ref {
                    position: relative;
                    margin-top: 10px;
                    width: 50%;
                    padding: 15px 0 0 25%;
                }

                .form__input {

                    position: relative;
                    width: 100%;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    padding: 15px 0 0;
                    box-shadow: 0 10px 10px -10px #171717   ; /* Add this line */


                    .form__field {
                        font-family: inherit;
                        width: 100%;
                        border: 0;
                        border-bottom: 2px solid #9b9b9b;
                        outline: 0;
                        font-size: 1.3rem;
                        color: #fff;
                        padding: 7px 0;
                        background: transparent;
                        transition: border-color 0.2s;

                        &::placeholder {
                            color: transparent;
                        }

                        &:placeholder-shown ~ .form__label {
                            font-size: 1.3rem;
                            cursor: text;
                            top: 20px;
                        }

                    }

                    .search_results {
                        display: none;
                        flex-direction: column;
                        max-height: 10em;
                        overflow: scroll;
                        margin: 0;
                        background: rgba(11, 10, 10, 0.88);
                        border-radius: 0 0 24px 24px;
                        box-shadow: 0 4px 6px 0 #171717;
                        border: 0;
                        padding-left: 0;
                        padding-bottom: 4px;
                        position: absolute;
                        width: 100%;
                        z-index: 1;

                        &::-webkit-scrollbar {
                            display: none;
                        }
                        .search_result {
                            display: flex;
                            flex-direction: column;
                            font-size: 1.25em;
                            border: none;
                            min-width: 0;
                            max-height: none;
                            color: #ffffff;
                            margin: 0;
                            padding-bottom: 10px;
                            padding-top: 10px;
                            padding-left: 20px;
                        }
                        .search_result.selected {
                            background: rgba(92, 96, 105, 0.67);
                            border-radius: 4px;
                        }
                        .search_result:hover {
                            background: rgba(92, 96, 105, 0.67);
                            border-radius: 4px;
                        }
                    }

                    .form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 1rem;
                        color: #9b9b9b;
                    }

                    .form__field:focus {
                        padding-bottom: 6px;
                        border-width: 3px;
                        border-image-slice: 1;
                    }

                    .form__field:focus + .form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 1rem;
                        color: #11998e;
                        font-weight:700;
                    }

                    .form__field{
                        &:required,&:invalid { box-shadow:none; }
                    }

                }

                fieldset {
                    display: flex;
                    border: 2px solid #6495ED;
                    padding: 20px;
                    max-width: 50%;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    border-radius: 20px;

                    legend {
                        color: #F5F5F5;
                        font-size: 1.2em;
                        font-weight: bold;
                    }

                }

                input[type="radio"] + label {
                    position: relative;
                    padding: 10px;
                    color: #F5F5F5;
                    display: inline-block;
                    margin-right: 10px;
                    cursor: pointer;
                }

                input[type="radio"] + label::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 2px solid #6495ED;
                    border-radius: 10px;
                    box-sizing: border-box;
                    transition: background-color 0.3s ease;
                }

                input[type="radio"]:checked + label::before {
                    box-shadow: 0 0 10px #6495ED;
                }

                input[type="checkbox"],
                input[type="radio"] {
                    appearance: none;
                }

                input[type="checkbox"] + label {
                    position: relative;
                    padding: 10px;
                    color: #F5F5F5;
                    display: inline-block;
                    margin-right: 10px;
                    cursor: pointer;
                }

                input[type="checkbox"] + label::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 2px solid #6495ED;
                    border-radius: 20px;
                    box-sizing: border-box;
                    transition: background-color 0.3s ease;
                }

                input[type="checkbox"]:checked + label::after {
                    box-shadow: 0 0 10px #6495ED;
                }

                fieldset label {
                    margin: 5px;
                    color: #F5F5F5;
                    font-size: 1em;
                }


            }

            .error-container {
                width: 100%;
                background: #333333;
                color: #F5F5F5;
                text-align: center;
            }

            .search-results-container {
                width: 100%;
                height: 100%;
                position:relative;
                background: #333333;
                color: #F5F5F5;
                text-align: center;
                border-bottom: #6495ED solid 2px;
            }

            .player-container {
                background: #333333;
                color: #F5F5F5;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-top: #6495ED solid 2px;

                .player__name {
                    font-size: 2em;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .player__email {
                    font-size: 1.5em;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .player__identifier {
                    font-size: 1.2em;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

            }

            .session-container {
                background: #333333;
                color: #F5F5F5;
                height: fit-content;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-top: #6495ED solid 2px;

                .session__date {
                    font-size: 1.5em;
                    font-weight: bold;
                    margin: 10px;
                }

                .session__time {
                    font-size: 1.5em;
                    font-weight: bold;
                    margin: 15px;
                }

                .session__game {
                    font-size: 1.5em;
                    font-weight: bold;
                    width: 100%;
                    margin: 15px;
                    a {
                        font-size: 1.5em;
                        color: #6495ED;
                        margin: 0;
                    }
                }

                .session__players {
                    font-size: 1.5em;
                    font-weight: bold;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 20%;
                    border-radius: 10px;

                    p {
                        margin: 0;
                    }

                    .session__player {
                        font-size: 1em;
                        font-weight: bold;
                        margin-left: 10px;
                        border-radius: 5px;
                        background-color: #333333;
                        width: fit-content;
                        text-align: center;
                    }
                }

                .session__identifier {
                    font-size: 1.2em;
                    font-weight: bold;
                    margin-bottom: 20px;
                }

            }

            .game-container {
                justify-content: center;
                align-items: center;
                background: #333333;
                color: #F5F5F5;
                text-align: center;
                border-top: #6495ED solid 2px;
                padding: 5px;

                .game__title {
                    font-size: 2.5em;
                    font-weight: bold;
                    margin-bottom: 5px;
                    a {
                        font-size: 1em;
                        color: #6495ED;
                    }
                }

                .game__developer {
                    font-size: 1.5em;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .game__reference{
                    font-size: 1.2em;
                    font-weight: bold;
                    margin-bottom: 20px;
                }

                .session__reference{
                    font-size: 1.2em;
                    font-weight: bold;
                    margin-bottom: 20px;
                }

                .game__identifier {
                    font-size: 1.2em;
                    font-weight: bold;
                    margin-bottom: 20px;
                }

                .game__genres {
                    font-size: 1.2em;
                    li {
                        display: inline-block;
                        border: 1px solid #F5F5F5;
                        padding: 5px;
                        margin-right: 10px;
                        border-radius: 10px;
                        align-self: center;
                    }
                }

            }

            .pagination {
                display: flex;
                justify-content: center;
                padding: 15px;
                position: relative;
                .pagination-button {
                    padding: 10px;
                    margin: 5px;
                    border: 1px solid #6495ED;
                    color: #F5F5F5;
                    background: #333333;
                    cursor: pointer;
                }
            }


        }
    }
}