/* Global Styles */

* {
    margin: 0;
    padding: 0;

    /* Variables */
    --color-primary: #6495ED;
    --color-background-primary: #272626;
    --color-background-secondary: #333333;
    --color-text: #cfd5ff;
    --color-text-title: #FFFFFF;
    --color-anchor-primary: var(--color-primary);
    --color-anchor-secondary: #F5F5F5;

    --delay: 0.3s;

    --font-size-common: 1.2em;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    background: var(--color-background-primary);
}

a {
    padding: 0.8%;
    color: var(--color-anchor-primary);
    text-decoration: none;
    transition: color var(--delay) ease;
    cursor: pointer;
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

a:hover {
    color: var(--color-anchor-secondary);
    transition: color var(--delay) ease;
}

/* Content */

.wrapper {
    height: 100%;
}

/* Header Navigation */

nav {
    flex: auto;
    --nav-padding-top-bottom: 1.2em;
    background: var(--color-background-primary);
    color: var(--color-text);
    border-bottom: 0.1em solid var(--color-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--nav-padding-top-bottom) 0;
}

nav div {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1em;
}

nav a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.1em;
    width: 100%;
    background: var(--color-primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

nav a:hover::after {
    transform: scaleX(1);
}

/* Full Bottom Div */
#content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Main Content in Bottom Div */
#mainContent {
    flex: auto;
    height: 100%;
    position: relative;
    overflow: auto;
    background: var(--color-background-secondary);
    padding-left: 1.25em;
    padding-right: 1.25em;
    border-left: aliceblue solid 2px;
    border-right: aliceblue solid 2px;
    max-width: 65%;
}

#mainContent div {
    padding: 2em 10%;
}

/* Main Content Title */

.title {
    position: relative;
    text-align: center;
    color: var(--color-text-title);
    font-size: 2.5em;
    margin-bottom: 1.5em;
}

/* Main Content Links */

#mainContent li {
    list-style-type: none;
    margin-bottom: 1em;
    font-size: 1.5em;
    display: block;
}


/* Form Styles */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__group {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

/* Input Fields */

.form__group {
    position: relative;
    margin-top: 1em;
    width: 50%;
}

.form__input {
    margin-bottom: 2em;
    margin-top: 2em;
    position: relative;
    padding: 0 !important;

    &::-webkit-scrollbar {
        display: none;
    }
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 0.8em;
    padding: 1em;
}

.form__input .form__label {
    position: absolute;
    top: 0px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
    padding: 0% !important;
}

.form__input .form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding-top: 1.2em;
    padding-bottom: 0.4em;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field:focus {
    border-image-slice: 1;
}

.form__field:focus + .form__label {
    top: 0px;
    transition: 0.2s;
    font-size: 1em;
    color: #11998e;
    font-weight:700;
}

.form__field{
    &:required,&:invalid { box-shadow:none; }
}


/* Search Results */

.search-results-container {
    width: 100%;
    height: 100%;
    position:relative;
    background: #333333;
    color: #F5F5F5;
    text-align: center;
    border-bottom: #6495ED solid 2px;
}

.search_results {
    display: none;
    flex-direction: column;
    max-height: 10em;
    overflow: scroll;
    margin: 0;
    background: rgba(11, 10, 10, 0.88);
    border-radius: 0 0 24px 24px;
    box-shadow: 0 4px 6px 0 #171717;
    border: 0;
    padding-left: 0;
    padding-bottom: 4px;
    position: absolute;
    width: 100%;
    z-index: 1;

    &::-webkit-scrollbar {
        display: none;
    }
}

.search_result {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    border: none;
    min-width: 0;
    max-height: none;
    color: #ffffff;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
}

.search_result.selected {
    background: rgba(92, 96, 105, 0.67);
    border-radius: 4px;
}

.search_result:hover {
    background: rgba(92, 96, 105, 0.67);
    border-radius: 4px;
}



