/* Global Styles */
@font-face {
	font-family: 'Sans Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Sans Regular'), url('Assets/fonts/ProductSans-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Sans Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Sans Bold'), url('Assets/fonts/ProductSans-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Sans Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Sans Medium'), url('Assets/fonts/ProductSans-Medium.woff') format('woff');
}

.red {
	color: #ab0a0a;
}

.green {
	color: #037903;
}

.fade-up {
	animation: fade-up 0.3s ease;
}

.fade-in {
	animation: fade-in 0.3s ease;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
}

.split {
	animation: split 0.3s ease;
}

@keyframes fade-up {
	from {
		opacity: 0.01;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes split {
	from {
		opacity: 0.01;
		transform: translateX(20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fade-in {
	from {
		opacity: 0.01;
	}
	to {
		opacity: 1;
	}
}

* {
	margin: 0;
	padding: 0;

	/* Variables */
	/* Colors */
	--color-primary: #6495ED;
	--color-background-primary: #272626;
	--color-background-secondary: #333333;
	--color-background-tertiary: #272727;
	--color-text: #cfd5ff;
	--color-text-title: #FFFFFF;
	--color-anchor-primary: var(--color-primary);
	--color-anchor-secondary: #F5F5F5;
	--color-error-background: #fcdcdc;
	--color-error-border: #cc0033;
	--color-error-text: var(--color-error-border);

	/* Transitions */
	--delay: 0.3s;

	/* Font Sizes */
	--font-size-common: 1.2em;

	/* Sizes */
	--size-common: 1em;
	--size-large: 2em;
	--size-small: 0.8em;
	--size-nav: 12em;
}

html, body {
	font-family: 'Sans Medium', sans-serif;
	font-size: 19px;
	margin: 0;
	height: 100%;
	width: 100%;
	background: var(--color-background-primary);
	overflow-x: hidden;
}

a {
	padding: 0.8%;
	color: var(--color-anchor-primary);
	text-decoration: none;
	transition: color var(--delay) ease;
	cursor: pointer;
	position: relative;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	display: inline-block;
}

a:hover {
	color: var(--color-anchor-secondary);
	transition: color var(--delay) ease;
}

.subtitle {
	position: relative;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
	color: #F5F5F5;
	text-align: center;
}

.subtitle #token {
	margin-top: 50px;
	color: var(--color-primary);
}

*::-webkit-scrollbar {
	width: 6px;
	height: 2px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background-clip: padding-box;
	border: 5px solid rgba(255, 255, 240, .25);
}

*::-webkit-scrollbar-track {
	background: transparent;
}

/* Content */

.wrapper {
	height: 100%;
	display: flex;
}

/* Header Navigation */

.nav-bar {
	width: var(--size-nav);
	height: 100%;
	background: var(--color-background-primary);
}

nav {
	flex: auto;
	flex-direction: column;
	--nav-padding-top-bottom: 1.2em;
	background: var(--color-background-primary);
	color: var(--color-text);
	display: flex;
	justify-content: space-between;
	align-items:flex-start;
	padding: var(--nav-padding-top-bottom) 0;
	width: inherit;
}

nav div {
	flex: 1;
	display: block;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 1em;
	margin: auto auto 1em;
	width: 60%;
}

a {
	width: fit-content;
}

nav a:after {
	content: '';
	position: absolute;
	bottom: -6px;
	left: 0;
	height: 0.1em;
	width: 100%;
	background: var(--color-primary);
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease-in-out;
}

nav a:hover::after {
	transform: scaleX(1);
}

.icon-link {
	display: flex;
	font-size: 1.2em;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}


/* Full Bottom Div */
#content {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

/* Side Navigation in Bottom Div */
#sideNav {
	flex: 1;
	height: 100%;
	padding: 0;
	max-width: 20%;
	box-shadow: inset 1em 0 2em -1em #000;
}

/* Main Content in Bottom Div */
#mainContent {
	flex: auto;
	height: 100vh;
	overflow: auto;
	background-image: linear-gradient(160deg, var(--color-background-secondary) 60%, var(--color-background-tertiary) 0%);
	padding-left: 1.25em;
	padding-right: 1.25em;
	box-shadow: inset 0 6px 10px -3px rgba(0, 0, 0, 0.5);
}


/* Main Content Title */

.title {
	position: relative;
	text-align: center;
	color: var(--color-text-title);
	font-size: 2.5em;
	margin: 1.5em 0;
}

/* Main Content Links */

#mainContent ol {
	list-style-type: none;
	margin: 0 10%;
}

#mainContent li {
	list-style-type: none;
	margin-bottom: 1em;
	font-size: 1.5em;
	display: block;
}

/* Form Styles */

form {
	width: 100%;
	padding-top: 2em;
	padding-bottom: 1em;
	display: flex;
	border: 2px solid var(--color-primary);
	border-radius: 1em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-background-primary);
}

.form__group {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	position: relative;
	justify-content: center;
	align-items: center;
	/*background-color: var(--color-background-tertiary);
	border-radius: 10px;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
	margin-top: 2em;/**/
}

/* Input Fields */

.form__input {
	margin: 1em 0;
	position: relative;
	width: 70%;
	padding: 0 !important;

	&::-webkit-scrollbar {
		display: none;
	}
}

.form__field::placeholder {
	color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
	font-size: 1.3rem;
	cursor: text;
	top: 0.8em;
	padding: 1em;
}

.form__input .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #9b9b9b;
	padding: 0 !important;
}

.form__input .form__field {
	width: 100%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1.3rem;
	color: #fff;
	padding-top: 1.2em;
	padding-bottom: 0.4em;
	background: transparent;
	transition: border-color 0.2s;
}

.form__field:focus {
	border-image-slice: 1;
}

.form__field:focus + .form__label {
	top: 0;
	transition: 0.2s;
	font-size: 1em;
	color: var(--color-primary);
	font-weight:700;
}

.form__field{
	&:required,&:invalid { box-shadow:none; }
}

/* Error Messages */

.error-container {
	background: #333333;
	text-align: center;
	color: white;
	justify-content: center;
	width: fit-content;
	margin: 1em auto auto;
}

.error-container p {
	font-size: 1.5em;
	padding: 1em;
}

.error-message-container {
	width: fit-content;
	position: relative;
	color: var(--color-error-text);
	background: var(--color-error-background);
	display: none; /**/
	text-align: center;
	height: fit-content;
	padding: 1em !important;
	border-radius: 10px;
	border: 2px solid var(--color-error-border);/**/
	margin: 1em;
}

.error_message {
	text-align: center;
	color: var(--color-error-text);
	font-size: 1.2em;
}


/* Search Results */

.search-results-container {
	width: inherit;
	margin: auto 5em 10%;
	height: inherit;
	position: relative;
	color: #F5F5F5;
	text-align: center;
	/*border-bottom: #6495ED solid 2px;/**/
	scroll-behavior: smooth;
}

.search_results {
	display: none;
	flex-direction: column;
	max-height: 10em;
	overflow: scroll;
	font-size: 1em;
	margin: 5px;
	background: rgba(11, 10, 10, 0.88);
	border-radius: 0 0 24px 24px;
	box-shadow: 0 4px 6px 0 #171717;
	border: 0;
	padding-left: 0;
	padding-bottom: 4px;
	position: absolute;
	width: 100%;
	z-index: 1;

	&::-webkit-scrollbar {
		display: none;
	}
}

.search_result {
	display: flex;
	flex-direction: column;
	border: none;
	min-width: 0;
	max-height: none;
	color: #ffffff;
	margin: 0 !important;
	padding: 10px 10px 10px 20px;
}

.search_result.selected {
	background: rgba(92, 96, 105, 0.67);
	border-radius: 4px;
}

.search_result:hover {
	background: rgba(92, 96, 105, 0.67);
	border-radius: 4px;
}

/* Field Sets */

fieldset {
	display: flex;
	flex: auto;
	flex-direction: row;
	width: min-content;
	border: none;
	padding: 2em;
	margin: 4em 0;
	border-radius: 10px;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
	background-color: var(--color-background-tertiary);

	legend {
		color: #F5F5F5;
		font-size: 1.2em;
		font-weight: bold;
	}

}

fieldset label {
	margin: 5px;
	color: #F5F5F5;
	font-size: 1em;
}

input[type="checkbox"],
input[type="radio"] {
	appearance: none;
}

/* Radio Buttons */

input[type="radio"] + label {
	position: relative;
	padding: 10px;
	color: #F5F5F5;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	background-color: var(--color-background-secondary);
}

input[type="radio"] + label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	transition: background-color 0.3s ease;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
}

input[type="radio"]:checked + label::before {
	border: 2px solid #6495ED;
	box-shadow: none;
}

input[type="radio"]:hover + label::before {
	box-shadow: none;
}

/* Checkboxes */

input[type="checkbox"] + label {
	position: relative;
	padding: 1em;
	color: #F5F5F5;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	background-color: var(--color-background-secondary);
	border-radius: 10px;
}

input[type="checkbox"] + label::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
	transition: box-shadow 0.3s ease;
}

input[type="checkbox"]:checked + label::after {
	border: 2px solid #6495ED;
	box-shadow: none;
}

input[type="checkbox"]:hover + label::after {
	box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Date Picker */

input[type="datetime-local"] {
	width: 100%;
	background: var(--color-background-secondary);
	--webkit-calendar-color: var(--color-background-secondary);
	--webkit-calendar-highlight: var(--color-primary);

	/* Styling the time part */
	--webkit-time-slider-thumb-color: var(--color-primary);/* Time slider thumb color */
	--webkit-time-slider-thumb-opacity: 1; /* Time slider thumb opacity */

}


/* Button Styles */

button[type="submit"],
button[type="button"] {
	max-width: fit-content;
	min-width: 150px;
	height: 50px;
	padding: 0 20px;
	border: none;
	outline: none;
	background: var(--color-background-primary);
	color: #F5F5F5;
	font-size: 20px;
	border-radius: 40px;
	text-align: center;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
	position: relative;
	overflow: hidden;
	cursor: pointer;
	margin: 2em;
	transition: box-shadow 0.5s ease;
}

button[type="submit"]:hover,
button[type="button"]:hover {
	border: 2px solid #6495ED;
	box-shadow: none;
}


/* Search Results Refs */

.search-ref {
	display: block;
	width: fit-content;
	margin: 0.5em auto;
	position: relative;
}

.search-ref:hover {
	color: white;
	transform: scale(1.1);
	transition: transform 0.3s ease;
}

.return_reference {
	position: absolute;
	background-color: var(--color-background-tertiary);
	writing-mode: vertical-rl;
	border: none;
	display: inline-block;
	width: 1.5em;
	height: 2em;
	text-align: center;
	line-height: 2em;
	border-radius: 10px;
	transform: rotate(180deg);
}

/* Session Containers */

.session-container {
	display: block;
	width: 60em;
	height: fit-content;
	margin: 2em auto;
	padding: 1em;
	background: var(--color-background-tertiary);
	border-radius: 10px;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
	position: relative;
	align-items: center;
	justify-content: center;
}

.session__game {
	font-size: 2em;
	font-weight: bold;
	color: var(--color-anchor-primary);
	margin: 0.5em 0.5em;
	padding: 0;
	text-align: center;
}

.session__game a {
	font-size: 1em;
}

.session__date {
	font-size: 1.5em;
	color: var(--color-text-title);
	margin: 0.5em;
	text-align: center;
}

.session__reference {
	display: block;
	margin: 0.5em auto;
	position: relative;
	width: fit-content;
}

.session__players {
	display: flex;
	min-width: 60%;
	flex-direction: column;
	font-size: 1.2em;
	margin: auto;
	position: relative;
	background: var(--color-background-secondary);
}

.session__players a {
	font-size: 1em;
	margin: 0.5em;
	padding: 0;
}

/* Game Containers From Search Results */

.game-container {
	display: block;
	max-width: 60em;
	height: fit-content;
	margin: 2em auto;
	padding: 1em;
	background: var(--color-background-tertiary);
	border-radius: 10px;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
	position: relative;
	align-items: center;
	justify-content: center;
}

.game__title {
	font-size: 2em;
	font-weight: bold;
	color: var(--color-anchor-primary);
	margin: 0.5em 0.5em;
	padding: 0;
	text-align: center;
}

.game__developer {
	font-size: 1.5em;
	color: var(--color-text-title);
	margin: 1em 0.5em;
	text-align: center;
}

.game__genres {
	font-size: 1.5em;
	color: var(--color-text-title);
	margin: 0.5em;
	text-align: center;
}

/* Player Details */

.player-container {
	display: block;
	max-width: 40em;
	height: fit-content;
	margin: 2em auto;
	padding: 1em;
	background: var(--color-background-tertiary);
	border-radius: 10px;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
	position: relative;
	align-items: center;
	justify-content: center;
}

.player__name {
	font-size: 2em;
	font-weight: bold;
	color: var(--color-text-title);
	margin: 0.5em 0.5em;
	padding: 0;
	text-align: center;
}

.session__player {
	display: flex;
	margin: 0 0 10px;
	position: relative;
	width: fit-content;
	justify-content: start;
}

.session__player a {
	margin:0;
	padding: 0 20px 0 0;
}

.player__email {
	font-size: 1.5em;
	color: var(--color-text-title);
	margin: 1em 0.5em;
	text-align: center;
}

/* Pagination */

/* Pagination Nav */

.pagination-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1.5em;
	width: 100%;
}

.pagination-list {
	width: fit-content;
}

/* Pagination Button */

.pagination-button {
	writing-mode: vertical-rl;
	cursor: pointer;
	border: none;
	transition: transform 0.3s ease;
	justify-content: center;
	display: inline-block;
	color: white;
	background: none;
	width: 2em;
	height: 2em;
	line-height: 2em;
}

.pagination-button.prev {
	rotate: 180deg;
}

.pagination-button:hover {
	transform: scale(1.1);
}

/* Pagination Info */

.pagination-info {
	position: relative;
	display: block;
	padding: 1em;
	width: 60em;
	background: var(--color-background-primary);
	border-radius: 10px;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
	bottom: 1em;
	margin: 1em auto;
}

.pagination-info p {
	color: var(--color-text-title);
	font-size: 1em;
	margin: 0.5em;
	height: fit-content;
	position: relative;
}

.pagination-info ul {
	display: block;
	margin: 0 0.5em;
}

.pagination-item {
	display: inline-block;
	color: white;
	background: var(--color-background-secondary);
	border-radius: 5px;
	min-width: 2em;
	max-width: fit-content;
	height: 2em;
	text-align: center;
	line-height: 2em;
	margin: 0.5em;
	cursor: pointer;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	transition: box-shadow 0.3s ease;
}

.pagination-item:hover {
	box-shadow: none;
}

.pagination-item:hover:not(.active) {
	border-radius: 5px;
}

.pagination-item.active {
	background: var(--color-primary);
}

.pagination-spacer {
	display: inline-block;
	width: 1em;
}


i {
	margin: 0 0.5em;
	transition: transform 0.1s ease;
}

i:hover {
	transform: scale(1.1);
}


.confirmation__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.confirmation__buttons button {
	border: none;
	transition: transform 0.3s ease;
	justify-content: center;
	background: none;
	line-height: 2em;
}

.icon__button {
	border: none;
	display: flex;
	justify-content: center;
	transition: transform 0.3s ease;
	margin: 0 auto;
	background: none;
	height: 40px;
	line-height: 2em;
}

.session__add__player {
	display: block;
	width: fit-content;
	margin: 0 auto;
	position: relative;
}

.session__add__player .form__input {
	margin-top: 20px;
	margin-bottom: 0;
}

.session__add__player form {
	border: none;
 	background-color: var(--color-background-secondary);
}

.session__add__player .search_results{
	width: 100%;
	font-size: 0.7em;
}

.session__add__player .error-message-container {
	font-size: 0.8em;
	margin-bottom: 5px;
}

.session__update {
	display: flex;
}

.session__update form {
	border: none;
}

.session__update .form__input {
	margin: 2em auto 0;
	width: 50%;
}

.session__update__container .error-message-container {
	margin: 0 auto;
}